<div class="tab-pane fade" id="add-item" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="card shadow my-3">
        <div class="card-body">
            <form action="/admin/item" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter title" required
                        autocomplete="additional-name">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Enter price" required
                        autocomplete="additional-name">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" placeholder="Enter city" required
                        autocomplete="additional-name">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="categoryId">
                        <option value="" disabled selected>-- CATEGORY --</option>
                        <% for( let index = 0; index < category.length; index++ ) { %>
                        <option value="<%= category[index]._id %>"><%= category[index].name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image-add">Image</label>
                    <input type="file" class="form-control-file" name="image" required multiple id="image-add">
                </div>
                <div class="form-group">
                    <label>Descriptiom</label>
                    <textarea class="form-control" name="about"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>